body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 20px;
  }
  
h1 {
   color: #333;
   text-align: center; 
}

form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);    
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #555;
}

input[type="text"], input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

button:hover {
    background-color: #45a049;
}

form input[type="text"], form input[type="number"] {
    margin-bottom: 10px;
}
#cost-slider {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

input[type="range"] {
    -webkit-appearance: none; /* Override default CSS styles */
    width: 100%; /* Specific width is required for Chrome and Safari */
    height: 15px; /* Set height of the slider */
    background: #ddd; /* Background color */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency */
    transition: opacity .2s; /* Transition for hover effects */
}

input[type="range"]:hover {
    opacity: 1; /* Fully opaque on hover */
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default CSS styles */
    appearance: none; /* Override default CSS styles */
    width: 20px; /* Width of the slider thumb */
    height: 20px; /* Height of the slider thumb */
    background: #4CAF50; /* Slider thumb color */
    cursor: pointer; /* Cursor on hover */
}

input[type="range"]::-moz-range-thumb {
    width: 20px; /* Width of the slider thumb */
    height: 20px; /* Height of the slider thumb */
    background: #4CAF50; /* Slider thumb color */
    cursor: pointer; /* Cursor on hover */
}

@media (max-width: 600px) {
    form {
        width: 100%;
        padding: 10px;
    }
}
  
