<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Find My CS College</title>
</head>
<body>
    <h1>Enter the following college details:</h1>
    <form action="/submit_state" method="POST">
        <label for="state">State:</label>
        <input type="text" id="state" name="state" required>

        <label for="size">College Size:</label>
        <select id="size" name="size" required>
            <option value="small">Small (under 5,000 students)</option>
            <option value="medium">Medium (5,000 - 15,000 students)</option>
            <option value="large">Large (over 15,000 students)</option>
        </select><br><br>
            
        <label for="cost">Cost of Attendance (in USD):</label>
        <div class="range_container">
            <div class="sliders_control">
                <input id="fromSlider" type="range" value="1000" min="1000" max="100000" step="500"/>
                <input id="toSlider" type="range" value="100000" min="1000" max="100000" step="500"/>
            </div>
            <div class="form_control">
                <div class="form_control_container">
                    <div class="form_control_container__time">Min</div>
                    <input class="form_control_container__time__input" type="number" id="fromInput" value="1000" min="1000" max="100000"/>
                </div>
                <div class="form_control_container">
                    <div class="form_control_container__time">Max</div>
                    <input class="form_control_container__time__input" type="number" id="toInput" value="100000" min="1000" max="100000"/>
                </div>
            </div>
        </div>
        <input type="hidden" id="minCost" name="minCost">
        <input type="hidden" id="maxCost" name="maxCost"><br><br>

        <button type="submit">Submit</button>
    </form>

    <script src="static/slider.js"></script>
</body>
</html>
