<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find My CS College</title>
</head>
<body>
    <h1>Enter your state:</h1>
    <form action="/submit_state" method="POST">
        <label for="state">State:</label>
        <input type="text" id="state" name="state" required>
        <button type="submit">Submit</button>
    </form>
</body>
</html>

